# Begin /boot/grub/grub.cfg
set default=0
set timeout=5

insmod part_msdos
insmod ext2

search --set=root --fs-uuid d9ac6b92-5e02-432b-b579-978886647a81

set gfxpayload=1024x768x32

menuentry "bero-os, Linux 6.18.10" {
    linux /boot/vmlinuz-6.18.10-bero-os root=PARTUUID=97c166b9-01 ro
}

menuentry "bero-os FALLBACK -- pre-audio rebuild (6.18.10 known-good)" {
    linux /boot/vmlinuz-6.18.10-bero-os.working root=PARTUUID=97c166b9-01 ro
}

# End /boot/grub/grub.cfg
